<main class="page">

  <aside class="page-sidebar">
    <section class="call">
      <form [formGroup]="">
        <fieldset class="field">
          <div class="input">

            <input type="text" placeholder="Ваш номер" title="Ваш номер" class="input-input">
          </div>
          <button type="submit" class="button call-btn">Заказать обратный звонок</button>

        </fieldset>
      </form>
      <p class="change-text call-text">Оперативно перезвоним, с&nbsp;09:00 до&nbsp;20:00</p>
    </section>
  </aside>


  <section class="page-main">
    <h1 class="page-title between">Контакты</h1>
    <section>
      <h2 class="page-subtitle">Ответим на все вопросы, поможем заказать, выручим в трудный момент 🙌</h2>
      <p class="page-text change-text">С 09:00 до 20:00, без выходных</p>
    </section>

    <section class="page-row">
      <section>
        <ul>
          <li class="button"><a class="link" href="tel:">+7 (831) 191 33 12</a></li>
          <li class="button"><a class="link" href="mailto:zakaz+554120@gdematerial.ru">zakaz052@gzakaz.ru</a></li>
          <li class="button"><a class="link" href="https://api.whatsapp.com/send?phone=79264802756" target="_blank">+7 831 480 27 56</a></li>
        </ul>
      </section>
    </section>
    <section class="page-row">
      <h2 class="page-subtitle">Офис и пункты самовывоза 🚛</h2>
      <section>


        <div class="page-text">

          <a href="https://yandex.ru/maps/?um=constructor%3Ad44a2d3c932698757e2eb3a6e06936bc6eedfe3ed2f40af9ecc6431d75eb2507&amp;source=constructorStatic" target="_blank">
            <img class="map" src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ad44a2d3c932698757e2eb3a6e06936bc6eedfe3ed2f40af9ecc6431d75eb2507&amp;width=600&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0;" />
          </a>

        </div>
      </section>
    </section>
    <section class="page-row">
      <h2 class="page-subtitle">Реквизиты 📮</h2>
      <section>
        <p class="page-text"><span class="change-text">Название компании</span> ООО «СтройМатериал» <span class="change-text">ИНН</span> 77453534530
          <br><span class="change-text">КПП</span> 743545001 ОГРН 1167345451040 <span class="change-text">ОКПО</span> 5243534534543
          <br><span class="change-text">Юридический адрес</span> 125252 г. Нижний Новгород, пр. Гагарина, д. 21
          <br><span class="change-text">Банк</span> АО «Альфа-Банк», г. Нижний Новгород <span class="change-text">БИК</span> 044546546593
          <br><span class="change-text">Расчетный счет</span> 5640 2810 5656 0000 3568 <span class="change-text">Кор. счет</span> 5651 810 25550 0555 0593
          <br><span class="change-text">Фактические адрес офиса и склада представлен выше</span></p>
      </section>
    </section>
  </section>
</main>
