<main class="page">


  <aside class="page-sidebar">
    <nav class="sidebar-menu">
      <ul class="sidebar-menu_items">
        <li class="sidebar-menu_item"><a href="#1" class="link sidebar-menu_link">Привезли не тот товар</a></li>
        <li class="sidebar-menu_item"><a href="#2" class="link sidebar-menu_link">Остались излишки товара</a></li>
        <li class="sidebar-menu_item"><a href="#3" class="link sidebar-menu_link">Вы заказали не тот товар</a></li>
      </ul>
    </nav>
  </aside>
  <section class="page-main">
    <h1 class="page-title between">Возврат и обмен</h1>
    <h2 class="page-subtitle">Берем все риски на себя: исправим ошибки доставки за свой счет, заберем излишки, поможем обменять заказанное 📦</h2>
    <section class="page-row">
      <h2 id="1" class="page-subtitle">Привезли не тот товар или неправильное количество 😤</h2>
      <p class="page-text">
        Если заказ исполнен не в полном объеме, присутствует ошибки комплектации, бой или брак, обязательно укажите это в приемных документах и сразу сообщите об этом менеджеру вашего заказа. Менеджер договорится с вами о сроках новой доставки, она будет произведена за наш счет и обычно происходит в тот же или на следующий день.
      </p>
    </section>
    <section class="page-row">
      <h2 id="2" class="page-subtitle">Остались излишки товара 🙄</h2>
      <section>
        <p class="page-text">
          Вы можете вернуть непригодившийся товар в течение месяца со дня доставки, оплатив только стоимость обратной доставки и, при необходимости, услуги спуска. Для это должно быть соблюдено несколько условий:
        </p>
        <p class="page-text">
          Товар не был в употреблении, не имеет дефектов (трещины, царапины, сколы, механические повреждения за исключением скрытых производственных дефектов), находится в полной комплектации и в заводской упаковке, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки.
        </p>
        <p class="page-text">
          Товар не входит в утвержденный Правительством РФ Перечень непродовольственных товаров надлежащего качества, не подходящих возврату или обмену: в ассортименте сервиса такими товарами являются, например, кабеля, металлопрокат, пиломатериалы, столярные изделия порезанные по желанию, заказные позиции, изготовленные по требованию клиента (распиленная фанера, коллерованная краска, гнутые трубы). При отказе от части товара, возврат может быть осуществлен только целиком.
        </p>
        <p class="page-text">
          Чтобы договориться о возврате товара, свяжитесь с нами.
        </p>
      </section>
    </section>
    <section class="page-row">
      <h2 id="3" class="page-subtitle">Вы заказали не тот товар 🤔</h2>
      <section>
        <div class="page-text">
          Если ваш товар подлежит возврату и нужные вам товары есть в наличии и в нужном количестве, вы можете произвести обмен.При обмене товаров, разница в стоимости товаров рассчитывается индивидуально. Чтобы оформить возврат и заказать товары на замену, напишите нам на zakaz@gdematerial.ru или позвоните по телефону <a href="#" class="link">+7 (495) 191 33 12</a>. Менеджер вашего заказа уточнит возможность и условия обмена товаров и оформит с вами новый заказ.
        </div>
      </section>
    </section>
  </section>
</main>
