<article class="wrap-product">
  <div class="product">
    <a href="" class="link">
      <div class="product-foto">
        <img src="https://245611.selcdn.ru/www/CACHE/images/2d/83/2d837087d690ae8b5462fa6b87205312.jpeg" alt="" class="foto">
      </div>
      <h3 class="product-name">
        {{merchandise.product}}
      </h3>
    </a>
    <p class="product-price">390р.</p>
    <div class="add-product-btn">
      <button class='button '><span>Добавить в корзину</span></button>
    </div>
  </div>
</article>
