
<section class="row row_banner">
  <!--        <div class="row_banner">-->
  <h2 class="row-subtitle"><span>Любые стройматериалы.<br>За час. По лучшим ценам</span></h2>
  <button class="button">
                               <span>
                                <a class="link" href="#">Каталог товаров →</a>
                                </span>                   </button>
  <!--        </div>-->
</section>
<!--    <section class="row">-->
<h2 class="row-title">Популярные товары</h2>
<h3 class="row-subtitle">Самые покупаемые стройматериалы&nbsp;🏡</h3>

<section class="row row-product">

  <!--                               Описание товара   -->
  <app-product
    *ngFor="let prod of products"
    [merchandise]="prod"
  ></app-product>


</section>
<!--    </section>-->

<section class="row">
  <h2 class="row-title">О сервисе</h2>
  <h3 class="row-subtitle">Почему покупатели выбирают нас</h3>
  <div class="wrap-row-serves">
    <div class="row-serves">
      <div class="row-serves-component">
        <strong>Получаем выгодные условия от производителей</strong>
        <p>Мы получаем хорошие скидки&nbsp;и делим их&nbsp;с вами, благодаря тому, что являемся крупным клиентом.</p>
      </div>
      <div class="row-serves-component">
        <strong>Доставляем экономично</strong>
        <p>Везем ваш заказ с ближайшего склада&nbsp;— поэтому, несмотря&nbsp;на&nbsp;то, что цена отдельных товаров&nbsp;в других магазинах может быть ниже, общая стоимость заказа будет&nbsp;в вашу пользу.</p>
      </div>
      <div class="row-serves-component">
        <strong>Помогаем сделать выбор</strong>
        <p>За время работы мы пообщались&nbsp;с тысячами клиентов&nbsp;и неплохо научились понимать, что нужно каждому. Если, например, вы покупаете штукатурку&nbsp;— мы напомним&nbsp;про маяки, правило, грунтовку&nbsp;и остальные сопутствующие товары,&nbsp;а также предложим более выгодные аналоги.</p>
      </div>
    </div>

    <div class="row-serves">
      <div class="row-serves-component">
        <strong>Получаем выгодные условия от производителей</strong>
        <p>Мы получаем хорошие скидки&nbsp;и делим их&nbsp;с вами, благодаря тому, что являемся крупным клиентом.</p>
      </div>
      <div class="row-serves-component">
        <strong>Доставляем экономично</strong>
        <p>Везем ваш заказ с ближайшего склада&nbsp;— поэтому, несмотря&nbsp;на&nbsp;то, что цена отдельных товаров&nbsp;в других магазинах может быть ниже, общая стоимость заказа будет&nbsp;в вашу пользу.</p>
      </div>
      <div class="row-serves-component">
        <strong>Помогаем сделать выбор</strong>
        <p>За время работы мы пообщались&nbsp;с тысячами клиентов&nbsp;и неплохо научились понимать, что нужно каждому. Если, например, вы покупаете штукатурку&nbsp;— мы напомним&nbsp;про маяки, правило, грунтовку&nbsp;и остальные сопутствующие товары,&nbsp;а также предложим более выгодные аналоги.</p>
      </div>
    </div>
  </div>
</section>


