<main class="page">

  <aside class="page-sidebar">
    <nav class="sidebar-menu">
      <ul class="link sidebar-menu_items">
        <li class="sidebar-menu_item"><a href="#persons" class="link sidebar-menu_link">Для физических лиц</a></li>
        <li class="sidebar-menu_item"><a href="#entity" class="link sidebar-menu_link">Для юридических лиц</a></li>
        <li class="sidebar-menu_item"><a href="#detail" class="link sidebar-menu_link">Реквизиты</a></li>
      </ul>
    </nav>
  </aside>

  <section class="page-main">
    <h1 class="page-title">Оплата</h1>
    <section class="page-row">
      <h2 id="persons" class="page-subtitle">Для физических лиц 👨‍</h2>
      <p class="page-text"><strong>Наличными водителю при получении товаров</strong></p>
      <div class="page-text"><strong>Оплата на карту</strong>
        <p>
          Уточните возможность оплаты на карту удобным вам способом у менеджера. Постоянным клиентам мы предоставляем услугу внесения наличных на депозит и покупку в кредит. Подробнее вы можете узнать у наших менеджеров или связавшись с нами удобным способом.
        </p>
      </div>
    </section>

    <section class="page-row">
      <h2 id="entity" class="page-subtitle">Для юридических лиц 🏢</h2>
      <section>
        <div class="page-text"><strong>Безналичная оплата</strong>
          <p>
            Вы можете оплатить любой заказ безналичным способом по выставленному счету. Для этого после оформления заказа отправьте нам ваши реквизиты или заполните их сами в файле нашего договора и пришлите заполненный договор.
          </p>
        </div>
        <p class="page-text"><a class="link">📄 Договор в формате Word</a></p>
        <p class="page-text">
          Компаниям регулярно, покупающим стройматериалы, мы предоставляем услугу комплексного снабжения объектов любой сложности. Организуем быстрые доставки по Москве в течение двух часов, предоставляем скидки при крупных объёмах и отсрочки платежей.
        </p>
        <div class="page-text"><strong>Отгрузка по платежке</strong>
          <p>Возможность оплаты по платежному поручению уточняйте у менеджера заказа или связавшись с нами удобным способом.</p>
        </div>
        <div class="page-text"><strong>Нужен договор?</strong>
          <p>
            Сообщите об этом своему менеджеру. Договор поставок по предоплате можно ооформить в офисе, через курьера, по почте или через систему электронного документооборота. С постоянными клиентами может быть заключен договор поставки с отсрочкой платежей.
          </p>
        </div>
        <p class="page-text"></p>
      </section>
    </section>

    <section class="page-row">
      <h2 id="detail" class="page-subtitle">Реквизиты 📮</h2>
      <section>
        <p class="page-text"><span class="change-text">Название компании</span> ООО «СтройМатериал» <span class="change-text">ИНН</span> 7764554137030
          <br><span class="change-text">КПП</span> 745654654001 ОГРН 11546545461040 <span class="change-text">ОКПО</span> 55465469043
          <br><span class="change-text">Юридический адрес</span> 125252 г. Нижний Новгород, пр. Гагарина, д. 21
          <br><span class="change-text">Банк</span> АО «Альфа-Банк», г. Нижний Новгород <span class="change-text">БИК</span> 0453545593
          <br><span class="change-text">Расчетный счет</span> 4070 2770 6016 3450 3568 <span class="change-text">Кор. счет</span> 34351 810 24350 0430 0593
        </p>
      </section>
    </section>

  </section>
</main>
